.main{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    
    background: var(--unnamed-color-fafafa) 0% 0% no-repeat padding-box;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
    
    }
    
    .header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 63px;
    
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    }
    
    .digi {
    position: absolute;
    top: 17px;
    left: 50px;
    width: 136px;
    height: 30px;
    
    background: var(--unnamed-color-08c642) 0% 0% no-repeat padding-box;
    opacity: 1;
    }
    
    .lib {
    position: absolute;
    top: 22px;
    left: 841px;
    width: 74px;
    height: 19px;
    
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal bold 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    text-transform: uppercase;
    opacity: 1;
    }
    
    .settings{
    position: absolute;
    top: 22px;
    left: 1001px;
    width: 79px;
    height: 19px; 
    
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal normal 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    text-transform: uppercase;
    opacity: 1;
    }
    
    .profile {
    position: absolute;
    top: 15px;
    left: 1837px;
    width: 33px;
    height: 33px;
    
    background: transparent url('./resourses/profile.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    }
    
    
    .menuline {
    position: absolute;
    top: 58px;
    left: 841px;
    width: 74px;
    height: 5px;
    
    background: var(--unnamed-color-08c642) 0% 0% no-repeat padding-box;
    background: #08C642 0% 0% no-repeat padding-box;
    opacity: 1;
    }

    .general {
    position: absolute;
    top: 129px;
    left: 73px;
    width: 208px;
    height: 24px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal bold 20px/30px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    text-transform: uppercase;
    opacity: 1;
    }

.book {
    position: absolute;
    top: 129px;
    left: 1001px;
    width: 172px;
    height: 24px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal bold 20px/30px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    text-transform: uppercase;
    opacity: 1;
} 

.btn {

    position: absolute;
    top: 117px;
    left: 1699px;
    width: 150px;
    height: 42px;

    background: var(--unnamed-color-08c642) 0% 0% no-repeat padding-box;
    background: #08C642 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    }

    .btntext {
    position: absolute;
    top: 129px;
    left: 1732px;
    width: 85px;
    height: 19px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.not {
    position: absolute;
    top: 208px;
    left: 73px;
    width: 270px;
    height: 22px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal 600 18px/26px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    text-transform: uppercase;
    opacity: 1;
    }

    .line1 {
    position: absolute;
    top: 219px;
    left: 373px;
    width: 550px;
    height: 0px;

    border: 1px solid var(--unnamed-color-1076b5);
    border: 1px solid #1076B5;
    opacity: 1;
    }

    .arrow1 {
    position:absolute;
    top: 208px;
    left: 911px;
    width: 14px;
    height: 22px;

    opacity: 1;
    }

.manage {
    position: absolute;
    top: 208px;
    left: 1001px;
    width: 167px;
    height: 22px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal 600 18px/26px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    text-transform: uppercase;
    opacity: 1;
}

.line2 {

    position: absolute;
    top: 219px;
    left: 1198px;
    width: 653px;
    height: 0px;

    border: 1px solid var(--unnamed-color-1076b5);
    border: 1px solid #1076B5;
    opacity: 1;
}

.arrow2 {
    position: absolute;
    top: 208px;
    left: 1838px;
    width: 14px;
    height: 22px;
    
    opacity: 1;

}