

.grid-container {
position: absolute;
top: 40px;
left: 40px;
width: 1840px;
height: 1100px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 15px #00347026;
opacity: 1;

}


.grid-item-1 {
}

.grid-item-11 {
position: absolute;
top: 175px;
left: 236px;
width: 378px;
height: 82px;
opacity: 1;
}


.grid-item-12 {
position: absolute;
top: 300px;
left: 333px;
width: 184px;
height: 24px;
text-align: center;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 20px/30px;
letter-spacing: 0px;
color: #0D242E;
text-transform: uppercase;
opacity: 1;
    
}

.grid-item-13 {
position: absolute;
top: 422px;
left: 175px;
width: 45px;
height: 19px;
text-align: left;
letter-spacing: 0px;
font-family: 'Montserrat', sans-serif;
font-weight: normal;
font-size: 16px/22px;
color: #0D242E;
opacity: 1;
}

.grid-item-14 {
position: absolute;
top: 451px;
left: 175px;
width: 500px;
height: 42px;

border: 0.5px solid var(--unnamed-color-0d242e);
border: 0.5px solid #0D242E;
border-radius: 5px;
opacity: 1;
}

.grid-item-15 {
position:absolute;
top: 534px;
left: 175px;
width: 76px;
height: 19px;

text-align: left;
font-family: 'Montserrat', sans-serif;
font-weight: normal;
font-size: 16px/22px;
letter-spacing: 0px;
color: #0D242E;
opacity: 1;
}

.grid-item-16 {
position:absolute;
top: 563px;
left: 175px;
width: 500px;
height: 42px;

border: 0.5px solid var(--unnamed-color-0d242e);
border: 0.5px solid #0D242E;
border-radius: 5px;
opacity: 1;
}

.grid-item-17 {
position: absolute;
top: 613px;
left: 566px;
width: 109px;
height: 15px;


text-align: left;
text-decoration: underline;
font: normal normal normal 12px/16px Montserrat;
letter-spacing: 0px;
color: #1076B5;
opacity: 1;
    
}

.grid-item-18 {
position: absolute;
top: 694px;
left: 175px;
width: 500px;
height: 42px;

background: var(--unnamed-color-08c642) 0% 0% no-repeat padding-box;
background: #08C642 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;

font: normal normal bold 16px/22px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
}



.grid-item-19 {
position: absolute;
top: 791px;
left: 253px;
width: 345px;
height: 19px;

font-size: 18px;
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
letter-spacing: 0px;

opacity: 1;
font: normal normal bold Montserrat;
}



.grid-item-2 {
position: absolute;
top: 40px;
left: 810px;
width: 1070px;
height: 1000px;

background: transparent url('./resourses/1.png') 0% 0% no-repeat padding-box;
opacity: 1;

}


