.main{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    
    background: var(--unnamed-color-fafafa) 0% 0% no-repeat padding-box;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
    
    }
    
    .header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 63px;
    
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    }
    
    .blackar {
    position: absolute;
    top: 22px;
    left: 49px;
    width: 14px;
    height: 22px;
    
    opacity: 1;
    }

    .li {
    position: absolute;
    top: 22px;
    left: 81px;
    width: 63px;
    height: 22px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal normal 18px/26px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    opacity: 1;


    }
    
    .lib {
    position: absolute;
    top: 22px;
    left: 841px;
    width: 74px;
    height: 19px;
    
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal bold 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    text-transform: uppercase;
    opacity: 1;
    }
    
    .settings{
    position: absolute;
    top: 22px;
    left: 1001px;
    width: 79px;
    height: 19px; 
    
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal normal 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    text-transform: uppercase;
    opacity: 1;
    }
    
    .profile {
    position: absolute;
    top: 15px;
    left: 1837px;
    width: 33px;
    height: 33px;
    
    background: transparent url('./resourses/profile.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    }
    

    
    .img1 {
    position: absolute;
    top: 105px;
    left: 49px;
    width: 675px;
    height: 939px;

    opacity: 1;
    }
    
    .titleback{
    position: absolute;
    top: 239px;
    left: 684px;
    width: 1187px;
    height: 82px;

    background: var(--unnamed-color-08c642) 0% 0% no-repeat padding-box;
    background: #08C642 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    }

    .title1 {
    position: absolute;
    top: 267px;
    left: 762px;
    width: 490px;
    height: 27px;
        
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-22)/var(--unnamed-line-spacing-32) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 22px/32px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    }
    
    .author1 {
    position: absolute;
    top: 342px;
    left: 762px;
    width: 128px;
    height: 24px;
        
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1076b5);
    text-align: left;
    font: normal normal bold 20px/30px Montserrat;
    letter-spacing: 0px;
    color: #1076B5;
    opacity: 1;
    }
    
    .genre11 {
    position: absolute;
    top: 393px;
    left: 761px;
    width: 129px;
    height: 22px;
        
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal normal 18px/26px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    }
    
    .genree11 {
    position: absolute;
    top: 393px;
    left: 825px;
    width: 129px;
    height: 22px;
    
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal bold 18px/26px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    }
    
    .created12 {
    position: absolute;
    top: 442px;
    left: 762px;
    width: 198px;
    height: 22px;
        
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal normal 18px/26px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    }
    
    .createdd12 {
    position: absolute;
    top: 442px;
    left: 870px;
    width: 198px;
    height: 22px;
    
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal bold 18px/26px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    
    }
    
    .updated13 {
    position: absolute;
    top: 491px;
    left: 762px;
    width: 202px;
    height: 22px;
        
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal normal 18px/26px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    }
    
    .updatedd13 {
        position: absolute;
        top: 491px;
    left: 880px;
    width: 202px;
    height: 22px;
    
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal bold 18px/26px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    }
    
    
    .menuline {
    position: absolute;
    top: 58px;
    left: 841px;
    width: 74px;
    height: 5px;
    
    background: var(--unnamed-color-08c642) 0% 0% no-repeat padding-box;
    background: #08C642 0% 0% no-repeat padding-box;
    opacity: 1;
    }

    .description {
    position: absolute;
    top: 633px;
    left: 761px;
    width: 1000px;
    height: 173px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal bolder 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    opacity: 1;
    }

    .content {
        position: absolute;
        top: 680px;
        left: 761px;
        width: 1000px;
        height: 173px;
            
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-0d242e);
        text-align: left;
        font: normal normal normal 16px/22px Montserrat;
        letter-spacing: 0px;
        color: #0D242E;
        opacity: 1;
    }