.main{
position: absolute;
top: 0px;
left: 0px;
width: 1920px;
height: 1080px;

background: var(--unnamed-color-fafafa) 0% 0% no-repeat padding-box;
background: #FAFAFA 0% 0% no-repeat padding-box;
opacity: 1;

}

.header {
position: absolute;
top: 0px;
left: 0px;
width: 1920px;
height: 63px;

background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
opacity: 1;
}

.digi {
position: absolute;
top: 17px;
left: 50px;
width: 136px;
height: 30px;

background: var(--unnamed-color-08c642) 0% 0% no-repeat padding-box;
opacity: 1;
}

.lib {
position: absolute;
top: 22px;
left: 841px;
width: 74px;
height: 19px;

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-0d242e);
text-align: left;
font: normal normal bold 16px/22px Montserrat;
letter-spacing: 0px;
color: #0D242E;
text-transform: uppercase;
opacity: 1;
}

.settings{
position: absolute;
top: 22px;
left: 1001px;
width: 79px;
height: 19px; 

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-0d242e);
text-align: left;
font: normal normal normal 16px/22px Montserrat;
letter-spacing: 0px;
color: #0D242E;
text-transform: uppercase;
opacity: 1;
}

.profile {
position: absolute;
top: 15px;
left: 1837px;
width: 33px;
height: 33px;

background: transparent url('./resourses/profile.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.all {
position: absolute;
top: 127px;
left: 72px;
width: 121px;
height: 24px;

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-montserrat);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-0d242e);
text-align: left;
font: normal normal bold 20px/30px Montserrat;
letter-spacing: 0px;
color: #0D242E;
text-transform: uppercase;
opacity: 1;

}

.input {
position: absolute;
top: 119px;
left: 217px;
width: 500px;
height: 40px;

background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 0.2px solid var(--unnamed-color-0d242e);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0.20000000298023224px solid #0D242E;
border-radius: 5px;
opacity: 1;
}

.img1 {
position: absolute;
top: 202px;
left: 72px;
width: 125px;
height: 177px;
border-radius: 5%;
opacity: 1;
}

.title1 {
position: absolute;
top: 222px;
left: 223px;
width: 401px;
height: 22px;

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-0d242e);
text-align: left;
font: normal normal bold 18px/22px Montserrat;
letter-spacing: 0px;
color: #0D242E;
text-transform: uppercase;
opacity: 1;
}

.author1 {
position: absolute;
top: 264px;
left: 223px;
width: 102px;
height: 19px;

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-1076b5);
text-align: left;
font: normal normal bold 16px/22px Montserrat;
letter-spacing: 0px;
color: #1076B5;
opacity: 1;
}

.genre11 {
position: absolute;
top: 303px;
left: 223px;
width: 52px;
height: 19px;

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-0d242e);
text-align: left;
font: normal normal normal 16px/22px Montserrat;
letter-spacing: 0px;
color: #0D242E;
}

.genree11 {
position: absolute;
top: 303px;
left: 280px;
width: 58px;
height: 19px;

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-0d242e);
text-align: left;
font: normal normal bold 16px/22px Montserrat;
letter-spacing: 0px;
color: #0D242E;
}

.created12 {
position: absolute;
top: 341px;
left: 223px;
width: 176px;
height: 19px;

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-0d242e);
text-align: left;
font: normal normal normal 16px/22px Montserrat;
letter-spacing: 0px;
color: #0D242E;
}

.createdd12 {
position: absolute;
top: 341px;
left: 320px;
width: 176px;
height: 19px;

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-0d242e);
text-align: left;
font: normal normal bold 16px/22px Montserrat;
letter-spacing: 0px;
color: #0D242E;

}

.updated13 {
position: absolute;
top: 341px;
left: 444px;
width: 180px;
height: 19px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-0d242e);
text-align: left;
font: normal normal normal 16px/22px Montserrat;
letter-spacing: 0px;
color: #0D242E;
}

.updatedd13 {
position: absolute;    
top: 341px;
left: 550px;
width: 180px;
height: 19px;

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-0d242e);
text-align: left;
font: normal normal bold 16px/22px Montserrat;
letter-spacing: 0px;
color: #0D242E;
}

.arrow {
position:absolute;
top: 202px;
left: 898px;
width: 34px;
height: 177px;

background: var(--unnamed-color-1076b5) 0% 0% no-repeat padding-box;
background: #1076B5 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000017;
border-radius: 10px;
opacity: 1;
}

.polygon {
 position: absolute;
 top: 280px;
left: 908px;
width: 14px;
height: 22px;

background: transparent 0% 0% no-repeat padding-box;
opacity: 1;


}

.menuline {
position: absolute;
top: 58px;
left: 841px;
width: 74px;
height: 5px;

background: var(--unnamed-color-08c642) 0% 0% no-repeat padding-box;
background: #08C642 0% 0% no-repeat padding-box;
opacity: 1;
}